<head>
     <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>

<!-- NAVBAR
================================================== -->
<div class="container">

<body>
 <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">best of 2k13</a>
            </div>
            <div class="navbar-collapse collapse">
              
            </div>
          </div>
        </div>

      </div>
    </div>

<!-- CAROUSEL
================================================== -->
<div class="container">
<!-- Main Area -->
                <div id="main_area">
                        <!-- Slider -->
                        <div class="row">
                                <div class="span20" id="slider">
                                        <!-- Top part of the slider -->
                                        <div class="row">
                                                <div class="span8" id="carousel-bounding-box">
                                                        <div id="myCarousel" class="carousel slide">
                                                                <!-- Carousel items -->
                                                                <div class="carousel-inner">
                                                                        <div class="active item" data-slide-number="0"><img src="http://hypetrak.com/images/2013/06/kanye-west-talks-his-career-yeezus-album.jpg" />
                                                                        <div class="carousel-caption">
                                                                          <h1>Yeezy gets the last laugh!</h1>
                                                                          <p>After lukewarm reviews and modest sales, <i>Yeezus</i> shines.</p>
                                                                                  
<p><%= link_to "Listen to Yeezus", yeezus_path, class: "btn btn-primary btn-lg" %></p>

</div>
</div>
<div class="item" data-slide-number="1"><img src="http://www.medievalbeatz.com/wp-content/uploads/2013/11/Chance-The-Rapper-Acid-Rap-mixtape.jpg" />
<div class="carousel-caption">
<h1>A Game of Chance</h1>
<p>His 2nd mixtape was better than most 1st albums.</p>

<p><%= link_to "Listen to Acid Rap", chance_path, class: "btn btn-primary btn-lg" %></p>


</div>
</div>
<div class="item" data-slide-number="2"><img src="http://www.monstermixtapes.net/img/temp/Migos_-_Young_Rich_Niggas.jpg" />
<div class="carousel-caption">
<h1>VERSACE</h1>
<p>There was no denying the buzz of Migos in 2K13.</p>

<p><%= link_to "Listen to YRN", migos_path, class: "btn btn-primary btn-lg" %></p>

</div>
</div>
<div class="item" data-slide-number="3"><img src="http://cdn.doandroidsdance.com/assets/2013/03/daft-punk-random-access-memories-cover.jpg" />
  <div class="carousel-caption">
<h1>We all got lucky.</h1>
<p>The tunes were funkier and Pharrell basically joined the group.</p>

<p><%= link_to "Listen to Random Access Memories", daft_path, class: "btn btn-primary btn-lg" %></p>

</div>
</div>
<div class="item" data-slide-number="4"><img src="http://pop-break.com/wp-content/uploads/2013/09/doris_cover.jpg" />
<div class="carousel-caption">
<h1>Back from vacation!</h1>
<p>Earl didn't lose a beat with his 2013 release.</p>

<p><%= link_to "Listen to Doris", earl_path, class: "btn btn-primary btn-lg" %></p>

</div>
</div>
<div class="item" data-slide-number="5"><img src="http://www.wepluggoodmusic.com/wp-content/uploads/2013/10/haim-days-are-gone.png" />
<div class="carousel-caption">
<h1>A Family Affair</h1>
<p>The Sisters Haim came, saw and conquered.</p>

<p><%= link_to "Listen to Days Are Gone", haim_path, class: "btn btn-primary btn-lg" %></p>


</div>
</div>
<div class="item" data-slide-number="6"><img src="http://www.residentadvisor.net/images/reviews/2013/atlas-10-cd.jpg" />
<div class="carousel-caption">
<h1>British Invasion</h1>
<p>The moody tunes of James Blake continue to deliver.</p>

<p><%= link_to "Listen to Overgrown", james_path, class: "btn btn-primary btn-lg" %></p>

</div>
</div>
<div class="item" data-slide-number="7"><img src="http://p.playserver1.com/ProductImages/0/8/6/3/7/8/5/4/45873680_700x700min_1.jpg" />
<div class="carousel-caption">
<h1>When a fire starts to burn</h1>
<p>The critics were raving for a reason.</p>

<p><%= link_to "Listen to Settle", disclosure_path, class: "btn btn-primary btn-lg" %></p> 

</div>
</div>
<div class="item" data-slide-number="8"><img src="http://24.media.tumblr.com/9ec580f32021749aa61e1d03d92fc7a0/tumblr_mtdu6ejwmP1qbu7a8o1_1280.jpg" />
<div class="carousel-caption">
<h1>Mr. Consistency</h1>
<p>Nothing really changed, but still, <i>Nothing WasThe Same</i>.</p>

<p><%= link_to "Listen to NWTS", drake_path, class: "btn btn-primary btn-lg" %></p>

</div>
</div>
         
<div class="item" data-slide-number="9"><img src="http://assets-s3.rollingstone.com/assets/images/album_review/run-the-jewels-cover-1373904337.jpg" />
<div class="carousel-caption">
<h1>The Dark Horse</h1>
<p>Be delighted by an album you probably didn't know existed.</p>

<p><%= link_to "Listen to Run The Jewels", runthejewels_path, class: "btn btn-primary btn-lg" %></p>
      
</div>
                                                                        </div>
                                                                </div>
                                                                <!-- Carousel nav -->
                                                                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                                                                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                                                        </div>
                                                </div>
                                                <div class="span4" id="carousel-text"></div>
 
                                               
                                        </div>
 
                                </div>
                        </div> <!--/Slider-->
 
                      
</div>
</div>

 <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>
</body>
</div>
